@import url(https://fonts.googleapis.com/css?family=Roboto);

table, th, td {
  border: 1px solid black;
}

#wrapperContent {
  margin-left: 200px
}

#leftContent {
  float: left;
  width: 200px;
  margin-left: -200px;
  background-color: #BDBDBD;
}

#centerContent {
  float: right;
  width: 100%;
  height: 100%;
  background-color: #FAFAFA;
}

#webpageTitle {
  color: #FF5722;
}

#tableWallets {
  width: 100%;
}

#tableAdd {
  width: 100%
}

.wallet {
  width: 100%;
}

#tableStatus {
  width: 100%;
}

.tableStatusInnerTable {
  width: 100%;
}

#tableUnconfirmed {
  width: 100%;
}

#tableConfirmed {
  width: 100%;
}

.transactionDepositTable {
  width: 100%;
}

.transactionWithdrawalTable {
  width: 100%;
}

.transactionTransferTable {
  width: 100%;
}